/* Acta Masonica Scandinavica Styles */
/* line 12, sass/style.scss */
body {
  background-color: #66ccff;
  color: #000;
  font-family: Helvetica, Arial, sans-serif; }

/* line 18, sass/style.scss */
footer {
  font-size: small;
  margin-top: 1.1em; }

/* line 24, sass/style.scss */
ul {
  width: 333px; }
  /* line 28, sass/style.scss */
  ul li {
    display: block;
    background-color: #ffff4d; }
    /* line 32, sass/style.scss */
    ul li a {
      color: #fff; }
